src/main/mule/sf-s3-bidirectional.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:s3="http://www.mulesoft.org/schema/mule/s3"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/s3 http://www.mulesoft.org/schema/mule/s3/current/mule-s3.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c9fa31c9-0f60-4fbf-b4ae-f6e9012b314d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="27c90f66-5467-4e41-901d-8dd71f9e012f" >
		<salesforce:cached-basic-connection username="${secure::sf.username}" password="${secure::sf.password}" securityToken="${secure::sf.token}" />
	</salesforce:sfdc-config>
	<s3:config name="Amazon_S3_Configuration" doc:name="Amazon S3 Configuration" doc:id="1d16d350-aaf8-4244-88bf-a3cf955f0d17" >
		<s3:basic-connection accessKey="${secure::s3.accesskey}" secretKey="${secure::s3.secretkey}" />
	</s3:config>
	<configuration-properties doc:name="Configuration properties" doc:id="3367c86d-471d-4441-9015-ee37b491ba3c" file="mule.properties" />
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="4a17a3ed-32cd-43d0-842e-44256f9b620e" file="mule.properties" key="mulesoft" >
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	<flow name="sf-s3-bidirectionalFlow" doc:id="83895046-4261-4364-8dca-e5dfa91a5128" >
		<http:listener doc:name="/sf-s3" doc:id="5d40759a-8700-4c1c-8b4f-14ee26d98240" config-ref="HTTP_Listener_config" path="/sf-s3"/>
		<set-variable value="#[attributes.queryParams.Name]" doc:name="Set Variable" doc:id="d81febb7-955b-4222-ba2f-7400d9165773" variableName="condition"/>
		<logger level="INFO" doc:name="Logger" doc:id="57200402-68e7-41d9-a3e8-5742482e719f" message="#[payload]"/>
		<choice doc:name="Choice" doc:id="2dc393a9-ee53-4f54-8b4d-bca05dc810d0" >
			<when expression='#[vars.condition == "sftos3"]'>
				<salesforce:query doc:name="Query" doc:id="e2de244a-6ac5-488b-a840-990a6916383f" config-ref="Salesforce_Config">
					<salesforce:salesforce-query >select Id, Name, Type from Account where Name = 'Jon Snow'</salesforce:salesforce-query>
				</salesforce:query>
				<ee:transform doc:name="Transform Message" doc:id="e01f81b8-f4cd-4ace-8b34-f69cfa03d362">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="5837be9e-63f2-4d65-bc18-a7f1724c8b23" message="#[payload]"/>
				<s3:create-object doc:name="Create object" doc:id="c9df778b-ed1a-48d2-9805-f9f32235c530" config-ref="Amazon_S3_Configuration" bucketName="${s3.bucketname}" key="${s3.key}"/>
				<logger level="INFO" doc:name="Logger" doc:id="5dec265b-a05c-4f55-96d6-0e59370577ea" message="#[paylaod]"/>
			</when>
			<when expression="#[vars.condition == 's3tosf']">
				<s3:get-object doc:name="Get object" doc:id="47b743c2-74e0-4ef4-acb4-bcc33522d29d" config-ref="Amazon_S3_Configuration" bucketName="${s3.bucketname}" key="${s3.key}" outputMimeType="application/json"/>
				<ee:transform doc:name="Transform Message" doc:id="823194c7-b70e-4426-8b60-6add60e37ea6" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="9332a8f9-c537-4822-bf0f-e3bd2747e23f" message="#[payload]"/>
				<salesforce:upsert doc:name="Upsert" doc:id="67bba50d-4c1a-42da-8454-39a1c217e8e6" config-ref="Salesforce_Config" externalIdFieldName="Id" type="Account">
					<salesforce:records ><![CDATA[#[output application/java
---
[{
	Id: payload.Id,
	Name: payload.Name,
	Type: payload.Type
}]]]]></salesforce:records>
				</salesforce:upsert>
				<ee:transform doc:name="Transform Message" doc:id="3134e195-fa49-4f19-9227-ba4caab2e0ce" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="9732a5f9-73f2-46db-ba9a-5a6858a1b87a" message="#[payload]"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="16a69cd9-6798-4606-bf63-7b4807abc481" message="Enter either 'sftos3' or 's3tosf' !"/>
			</otherwise>
		</choice>
	</flow>
</mule>
